<%= javascript_pack_tag 'diesel', 'data-turbolinks-track': 'reload', defer: true %>
<div id="diesel">
	<div class="container">
		<div class="row justify-content-center align-items-center py-2">
			<div class="col-md-6 text-center text-md-start">
				<%= image_tag('Logo-color.png', class: 'w-11 d-none d-md-block')%>
				<%= image_tag('logo-text.png', class: 'logo-text d-md-none d-block mx-auto')%>
			</div>
			<div class="col-md-6 text-end d-none d-md-block">
				<%= image_tag('secure-signs.png', class: 'w-38')%>
			</div>
		</div>
	</div>
	<div class="header-bg">
		<div class="d-none d-lg-block">
			<%= image_tag('female-pointing.png', class: 'w-25 girl-img')%>
		</div>
		<div class="overlay"></div>
		<div class="row align-items-cnter justify-content-center h-zindex w-100 mx-0">
			<div class="col-xl-6 col-lg-8 col-md-11 mx-auto">
				<h1 class="fw-bold text-center w-100 mt-4 text-white fs-sm-24">Mercedes Diesel Emissions</h1>
				<h4 class="text-center w-100 fw-bold text-white fs-sm-17">Check if You’re Eligible to Claim</h4>
				<h5 class="text-center w-100 fw-bold text-warning fs-sm-15">You could get compensation up to £10,000</h5>
				<h5 class="text-center w-100 mb-4 text-white fs-sm-17">Start your FREE EASY check in seconds <br> <strong>NO WIN, NO FEE</strong></h5>

				<div id="diesel-emission" class="bg-light shadow px-md-3 py-md-5 py-4 form-div mb-5">
					<%= render 'layouts/step-form' %>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-white">
		<div class="container">
			<div class="row py-md-5 py-4 w-100 mx-0">
				<div class="col-lg-10 mx-auto">
					<h2 class="fw-bold text-blue">Can I join the group action to claim?</h2>
					<p class="fs-5">
						If you have ever purchased, leased or financed any of the Mercedes diesel or BlueTEC Diesel vehicles listed below – new or second-hand – then you should join the group action as you may be entitled to compensation.
					</p>
					<div class="table-responsive">
						<table class="table table-striped">
							<tbody>
								<tr>
									<td scope="row"></td>
									<td>A Class</td>
									<td>AMG</td>
									<td>B Class</td>
								</tr>
								<tr>
									<td scope="row"></td>
									<td>C Class</td>
									<td>Citan</td>
									<td>CL</td>
								</tr>
								<tr>
									<td scope="row"></td>
									<td>CLA Class</td>
									<td>CLK</td>
									<td>CLS</td>
								</tr>
								<tr>
									<td scope="row"></td>
									<td>E Class</td>
									<td>G CLass</td>
									<td>GL Class</td>
								</tr>
								<tr>
									<td scope="row"></td>
									<td>GLC Class</td>
									<td>GLE CLass</td>
									<td>GLS</td>
								</tr>
								<tr>
									<td scope="row"></td>
									<td>M Class</td>
									<td>Maybach S Class</td>
									<td>S Class</td>
								</tr>
								<tr>
									<td scope="row"></td>
									<td>SL Class</td>
									<td>SLC Class</td>
									<td>SLC</td>
								</tr>
								<tr>
									<td scope="row"></td>
									<td>SLK</td>
									<td>Viano</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
					<a href="#diesel-emission" class="text-decoration-none">
						<button type="button" class="btn button-41 mt-4 mx-auto fs-3 d-flex align-items-center justify-content-center px-4 px-lg-auto fw-bold">Check Now</button>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-light">
		<div class="container">
			<div class="row py-md-5 py-4 w-100 mx-0">
				<div class="col-lg-10 mx-auto">
					<h2 class="fw-bold text-blue">
						What is the Mercedes Diesel Emissions Action about?
					</h2>
					<p class="fs-5">
						Car manufacturers around the UK have been accused of Diesel Emissions fraud after allegedly fitting defective devices in vehicles to outcome EU & UK Emissions Laws between 2009 and 2019.
					</p>
					<p class="fs-5">
						Diesel Emissions Claims​ Hold car manufacturers to account for cheating the system, harming the environment and lying to their customers.
					</p>
					<a href="#diesel-emission" class="text-decoration-none">
						<button type="button" class="btn button-41 mt-5 mx-auto fs-3 d-flex align-items-center justify-content-center px-4 px-lg-auto fw-bold">Check Now</button>
					</a>
				</div>
				
			</div>
		</div>
	</div>

	<div class="bg-white">
		<div class="container">
			<div class="row py-md-5 py-4 mt-md-5">
				<h1 class="text-blue text-center fw-bold pb-4">FAQ’S</h1>
				<div class="col-md-8 mx-auto">
					<div class="accordion accordion-flush" id="accordionFlushExample">
						<div class="accordion-item mb-2 rounded-bottom">
							<h2 class="accordion-header" id="flush-headingOne">
								<button class="accordion-button rounded-top collapsed bg-grcolor text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
									What is the Mercedes Diesel Emissions Action about?
								</button>
							</h2>
							<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
								<div class="accordion-body bg-opacity-10 bg-secondary">- Car manufacturers around the UK have been accused of Diesel Emissions fraud after allegedly fitting defective devices in vehicles to outcome EU & UK Emissions Laws between 2009 and 2019. <br> <br> Diesel Emissions Claims​ Hold car manufacturers to account for cheating the system, harming the environment and lying to their customers.</div>
							</div>
						</div>
						<div class="accordion-item mb-2 rounded-bottom">
							<h2 class="accordion-header" id="flush-headingTwo">
								<button class="accordion-button rounded-top collapsed bg-grcolor text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
									What Vehicles are affected?
								</button>
							</h2>
							<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
								<div class="accordion-body bg-opacity-10 bg-secondary">- There were hundreds of thousands of cars in the UK that were potentially affected. This specifically applies to Diesel engine vehicles and the best way to check if your specific model qualifies is to enter your registration in the space provided.
								<br><br>
									<div class="table-responsive">
										<table class="table table-striped">
											<tbody>
												<tr>
													<td scope="row"></td>
													<td>A Class</td>
													<td>AMG</td>
													<td>B Class</td>
												</tr>
												<tr>
													<td scope="row"></td>
													<td>C Class</td>
													<td>Citan</td>
													<td>CL</td>
												</tr>
												<tr>
													<td scope="row"></td>
													<td>CLA Class</td>
													<td>CLK</td>
													<td>CLS</td>
												</tr>
												<tr>
													<td scope="row"></td>
													<td>E Class</td>
													<td>G CLass</td>
													<td>GL Class</td>
												</tr>
												<tr>
													<td scope="row"></td>
													<td>GLC Class</td>
													<td>GLE CLass</td>
													<td>GLS</td>
												</tr>
												<tr>
													<td scope="row"></td>
													<td>M Class</td>
													<td>Maybach S Class</td>
													<td>S Class</td>
												</tr>
												<tr>
													<td scope="row"></td>
													<td>SL Class</td>
													<td>SLC Class</td>
													<td>SLC</td>
												</tr>
												<tr>
													<td scope="row"></td>
													<td>SLK</td>
													<td>Viano</td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<div class="accordion-item mb-2 rounded-bottom">
							<h2 class="accordion-header" id="flush-headingThree">
								<button class="accordion-button rounded-top collapsed bg-grcolor text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
									How much am I able to claim?
								</button>
							</h2>
							<div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
								<div class="accordion-body bg-opacity-10 bg-secondary">- A successful claim could be worth up to £10,000, depending on the make and model and you could potentially be awarded up to the FULL price of your car as compensation.</div>
							</div>
						</div>
						<div class="accordion-item mb-2 rounded-bottom">
							<h2 class="accordion-header" id="flush-headingFour">
								<button class="accordion-button rounded-top collapsed bg-grcolor text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
									 I don’t own the car anymore. Can I still claim it?
								</button>
							</h2>
							<div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
								<div class="accordion-body bg-opacity-10 bg-secondary">- Yes. You can still make a claim if you purchased, financed or leased an affected car that was made between 2008 and 2019.</h5>
								</div>
							</div>
						</div>
						<div class="accordion-item mb-2 rounded-bottom">
							<h2 class="accordion-header" id="flush-headingFive">
								<button class="accordion-button rounded-top collapsed bg-grcolor text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
									  My Car was bought second hand. Can I own the claim?
								</button>
							</h2>
							<div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
								<div class="accordion-body bg-opacity-10 bg-secondary">- Yes, as long as the car was manufactured between 2009 and 2019.</h5>
								</div>
							</div>
						</div>
						<div class="accordion-item mb-2 rounded-bottom">
							<h2 class="accordion-header" id="flush-headingsix">
								<button class="accordion-button rounded-top collapsed bg-grcolor text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsesix" aria-expanded="false" aria-controls="flush-collapsesix">
									  Can i Claim for more than one car?
								</button>
							</h2>
							<div id="flush-collapsesix" class="accordion-collapse collapse" aria-labelledby="flush-headingsix" data-bs-parent="#accordionFlushExample">
								<div class="accordion-body bg-opacity-10 bg-secondary">- Yes, as long as the car was manufactured between 2009 and 2019. Simply enter your details again for each vehicle.</h5>
								</div>
							</div>
						</div>
						<div class="accordion-item mb-2 rounded-bottom">
							<h2 class="accordion-header" id="flush-headingseven">
								<button class="accordion-button rounded-top collapsed bg-grcolor text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseseven" aria-expanded="false" aria-controls="flush-collapseseven">
									   What if my car is fixed by the manufacturer?
								</button>
							</h2>
							<div id="flush-collapseseven" class="accordion-collapse collapse" aria-labelledby="flush-headingseven" data-bs-parent="#accordionFlushExample">
								<div class="accordion-body bg-opacity-10 bg-secondary">- It shouldn't affect your claim. Many people who had this "fix" later discovered their car's performance suffered and their fuel consumption increased.</h5>
								</div>
							</div>
						</div>
						<div class="accordion-item mb-2 rounded-bottom">
							<h2 class="accordion-header" id="flush-headingeight">
								<button class="accordion-button rounded-top collapsed bg-grcolor text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseeight" aria-expanded="false" aria-controls="flush-collapseeight">
									    I own a Petrol Mercedes, Am I Eligible to claim?
								</button>
							</h2>
							<div id="flush-collapseeight" class="accordion-collapse collapse" aria-labelledby="flush-headingeight" data-bs-parent="#accordionFlushExample">
								<div class="accordion-body bg-opacity-10 bg-secondary">- No, Only if you own a Diesel Mercedes of 2009-2019 Model.</h5>
								</div>
							</div>
						</div>
						<a href="#diesel-emission" class="text-decoration-none">
							<button type="button" class="btn button-41 fw-bold rounded-3 text-white fs-4 mt-5 mx-auto d-flex align-items-center">CLAIM NOW <i class="fas fa-angle-right ps-2 fs-2"></i></button>					
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>








</div>
<%= render 'layouts/footer'%>
